body {
    font-family: 'Comic Sans MS', cursive;
    background: linear-gradient(to bottom, #fff8c6, #ffe680);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    background-color: #fffdf2;
    padding: 30px;
    border-radius: 25px;
    width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border: 4px dashed #f4c542;
    text-align: center;
}

h1 {
    color: #d89b00;
}

input {
    width: 70%;
    padding: 12px;
    border-radius: 15px;
    border: 2px solid #f4c542;
}

button {
    padding: 12px;
    border: none;
    border-radius: 15px;
    background-color: #ffd447;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #ffbf00;
}

.limpar {
    background-color: #ffb347;
}

.limpar:hover {
    background-color: #ff9500;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff4b3;
    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.concluida {
    text-decoration: line-through;
    opacity: 0.6;
}
